# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_b24tY2F0dGxlLTc5ODguY2xlcmsuYWNjb3VudHMuZGV2JA

# Turso LibSQL Database
VITE_TURSO_DATABASE_URL=libsql://piggyvault-vinceestodomingo-cpu.aws-ap-northeast-1.turso.io
VITE_TURSO_AUTH_TOKEN=your_turso_auth_token_here
